@model EDU_Models.Announcement
@using  EDU_Utility;
@{
    var title = "Create Announcement";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        title = "Edit Announcement";
        <input asp-for="Id" hidden />
    }
    <div class="border p-3 bg-white">

        <div class="form-group row py-2">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row py-2">
                    <div class="col-2">
                        <label asp-for="Date"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-2">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-2">
                        <label asp-for="Massage"></label>
                    </div>
                    <div class="col-10">
                        <textarea asp-for="Massage" class="form-control summernote"></textarea>
                        <span asp-validation-for="Massage" class="text-danger"></span>
                    </div>

                </div>
               
                <div class="form-group row py-2">
                    <div class="col-2">
                        Image
                    </div>
                    <div class="col-10">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row py-2">

                        <div class="col">
                            @if (Model.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                //create
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ">
                @* Keep this empty *@
                @if (Model.Id != 0)
                {
                    <iframe src="@WC.ImagePathAnnouncement@Model.filePath" width="100%" height="90%" style="border-radius:5px; border:1px solid #bbb"> </iframe>
                  //  <img src="@WC.ImagePathTeacher@Model.filePath" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an Image!',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}










