@model EDU_Models.OrderHeader
<div class="text-center">

    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Confirmation
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Back</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            @if (Model != null)
                            {
                               <h1 class="text-info">Inquiry Confirmation</h1>
                               <p>Order Id #@Model.Id is created successfully</p> 
                            }
                            else
                            {
                               <h1 class="text-info">Inquiry Confirmation</h1>
                               <p>We have recieved your inquiry and someone from our team will contact you shortly!</p>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





</div>